<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>WebERP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserJoinServlet</servlet-name>
    <servlet-class>user.UserJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserJoinServlet</servlet-name>
    <url-pattern>/userJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeveloperServlet</servlet-name>
    <servlet-class>user.UserDeveloperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeveloperServlet</servlet-name>
    <url-pattern>/userDeveloperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserIdCheckServlet</servlet-name>
    <servlet-class>user.UserIdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIdCheckServlet</servlet-name>
    <url-pattern>/userIdCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTypeServlet</servlet-name>
    <servlet-class>businesstype.SearchTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTypeServlet</servlet-name>
    <url-pattern>/companyAdmin/searchTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchTypeServlet</servlet-name>
    <url-pattern>/basisInformationManagement/searchTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyRegisterServelt</servlet-name>
    <servlet-class>company.CompanyRegisterServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyRegisterServelt</servlet-name>
    <url-pattern>/companyAdmin/companyRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceBusinessRegisterServlet</servlet-name>
    <servlet-class>placebusiness.PlaceBusinessRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceBusinessRegisterServlet</servlet-name>
    <url-pattern>/companyAdmin/placeBusinessRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceBusinessGetNameServlet</servlet-name>
    <servlet-class>placebusiness.PlaceBusinessGetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceBusinessGetNameServlet</servlet-name>
    <url-pattern>/companyAdmin/placeBusinessGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FieldRegistServlet</servlet-name>
    <servlet-class>field.FieldRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FieldRegistServlet</servlet-name>
    <url-pattern>/companyAdmin/fieldRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FieldGetNameServlet</servlet-name>
    <servlet-class>field.FieldGetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FieldGetNameServlet</servlet-name>
    <url-pattern>/companyAdmin/fieldGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentRegistServlet</servlet-name>
    <servlet-class>department.DepartmentRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentRegistServlet</servlet-name>
    <url-pattern>/companyAdmin/departmentRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFindToIDServlet</servlet-name>
    <servlet-class>user.UserFindToIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindToIDServlet</servlet-name>
    <url-pattern>/companyAdmin/userFindToIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFindToNameServlet</servlet-name>
    <servlet-class>user.UserFindToNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindToNameServlet</servlet-name>
    <url-pattern>/companyAdmin/userFindToNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentGetListServlet</servlet-name>
    <servlet-class>department.DepartmentGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentGetListServlet</servlet-name>
    <url-pattern>/companyAdmin/departmentGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentGetNameServlet</servlet-name>
    <servlet-class>department.DepartmentGetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentGetNameServlet</servlet-name>
    <url-pattern>/companyAdmin/departmentGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeRegistServlet</servlet-name>
    <servlet-class>employee.EmployeeRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistServlet</servlet-name>
    <url-pattern>/companyAdmin/employeeRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FieldGetListServlet</servlet-name>
    <servlet-class>field.FieldGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FieldGetListServlet</servlet-name>
    <url-pattern>/companyAdmin/fieldGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RightsRegistServlet</servlet-name>
    <servlet-class>rightsrelation.RightsRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RightsRegistServlet</servlet-name>
    <url-pattern>/companyAdmin/rightsRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomRegistServlet</servlet-name>
    <servlet-class>customer.CustomRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomRegistServlet</servlet-name>
    <url-pattern>/basisInformationManagement/customRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessTypeGetNameServlet</servlet-name>
    <servlet-class>businesstype.BusinessTypeGetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessTypeGetNameServlet</servlet-name>
    <url-pattern>/basisInformationManagement/businessTypeGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessTypeGetNameServlet</servlet-name>
    <url-pattern>/companyAdmin/businessTypeGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyFindForCustomServlet</servlet-name>
    <servlet-class>company.CompanyFindForCustomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyFindForCustomServlet</servlet-name>
    <url-pattern>/basisInformationManagement/companyFindForCustomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindCompanyToCompanyCodeServlet</servlet-name>
    <servlet-class>company.FindCompanyToCompanyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCompanyToCompanyCodeServlet</servlet-name>
    <url-pattern>/basisInformationManagement/findCompanyToCompanyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomFindToModalServlet</servlet-name>
    <servlet-class>customer.CustomFindToModalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomFindToModalServlet</servlet-name>
    <url-pattern>/basisInformationManagement/customFindToModalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerGetNameServlet</servlet-name>
    <servlet-class>customer.CustomerGetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerGetNameServlet</servlet-name>
    <url-pattern>/basisInformationManagement/customerGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinancialInstitutionFindServlet</servlet-name>
    <servlet-class>financialInstitution.FinancialInstitutionFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancialInstitutionFindServlet</servlet-name>
    <url-pattern>/basisInformationManagement/financialInstitutionFindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinancialInstitutionFindToCodeServlet</servlet-name>
    <servlet-class>financialInstitution.FinancialInstitutionFindToCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancialInstitutionFindToCodeServlet</servlet-name>
    <url-pattern>/basisInformationManagement/financialInstitutionFindToCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentGetListToAllServlet</servlet-name>
    <servlet-class>department.DepartmentGetListToAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentGetListToAllServlet</servlet-name>
    <url-pattern>/basisInformationManagement/departmentGetListToAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentGetNameOnlyServlet</servlet-name>
    <servlet-class>department.DepartmentGetNameOnlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentGetNameOnlyServlet</servlet-name>
    <url-pattern>/basisInformationManagement/departmentGetNameOnlyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeFindToModalServlet</servlet-name>
    <servlet-class>employee.EmployeeFindToModalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeFindToModalServlet</servlet-name>
    <url-pattern>/basisInformationManagement/employeeFindToModalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessTypeInsertServlet</servlet-name>
    <servlet-class>businesstype.BusinessTypeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessTypeInsertServlet</servlet-name>
    <url-pattern>/developer/businessTypeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessTypeUpdateServlet</servlet-name>
    <servlet-class>businesstype.BusinessTypeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessTypeUpdateServlet</servlet-name>
    <url-pattern>/developer/businessTypeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessTypeDeleteServlet</servlet-name>
    <servlet-class>businesstype.BusinessTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessTypeDeleteServlet</servlet-name>
    <url-pattern>/developer/businessTypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RightsInsertServlet</servlet-name>
    <servlet-class>rights.RightsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RightsInsertServlet</servlet-name>
    <url-pattern>/developer/rightsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RightsUpdateServlet</servlet-name>
    <servlet-class>rights.RightsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RightsUpdateServlet</servlet-name>
    <url-pattern>/developer/rightsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RightsDeleteServlet</servlet-name>
    <servlet-class>rights.RightsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RightsDeleteServlet</servlet-name>
    <url-pattern>/developer/rightsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinancialInstitutionInsertServlet</servlet-name>
    <servlet-class>financialInstitution.FinancialInstitutionInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancialInstitutionInsertServlet</servlet-name>
    <url-pattern>/developer/financialInstitutionInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinancialInstitutionUpdateServlet</servlet-name>
    <servlet-class>financialInstitution.FinancialInstitutionUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancialInstitutionUpdateServlet</servlet-name>
    <url-pattern>/developer/financialInstitutionUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinancialInstitutionDeleteServlet</servlet-name>
    <servlet-class>financialInstitution.FinancialInstitutionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancialInstitutionDeleteServlet</servlet-name>
    <url-pattern>/developer/financialInstitutionDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectGroupRegistServlet</servlet-name>
    <servlet-class>projectgroup.ProjectGroupRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectGroupRegistServlet</servlet-name>
    <url-pattern>/basisInformationManagement/projectGroupRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectGroupGetListServlet</servlet-name>
    <servlet-class>projectgroup.ProjectGroupGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectGroupGetListServlet</servlet-name>
    <url-pattern>/basisInformationManagement/projectGroupGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectGroupGetServlet</servlet-name>
    <servlet-class>projectgroup.ProjectGroupGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectGroupGetServlet</servlet-name>
    <url-pattern>/basisInformationManagement/projectGroupGetServlet</url-pattern>
  </servlet-mapping>
</web-app>